body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

header {
  text-align: right;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}

input {
  outline: none;
}

ul > li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}

select {
  border: solid 1px rgb(130 133 135);
  border-radius: 0.25em;
  font-size: 1em;
  width: 10em;
  padding: 0.25em;
}

select > option {
  font-size: 1em;
}

button {
  height: fit-content;
  padding: 0.5em 0.6em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
}
